<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/the_wall.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/the_wall.js')}}" type="text/javascript"></script>
    <title>The Wall</title>
</head>

<body>
    <div id="banner_cont">
        <h1>CodingDojo Wall</h1>
        <a href="/logoff">Log Off</a>
        <p id="welcome_name">Welcome {{name}}</p>
    </div>
    <div id="container">
        <h2>Post a message</h2>
        <form action="/process_post_post" method="post" id="process_post_post">
            <textarea name="post" id="post"></textarea>
        </form>
        <div class="posts">
            {%for i in posts_%}
            <div class="post_wrap">
                <h3>{{posts_[i]['first_name']}} {{posts_[i]['last_name']}} - {{posts_[i]['updated_at']}}</h3>
                <p class="one_post">{{posts_[i]['message']}}</p>
                <div class="comments">
                    {%for j in range(0,posts_[i]['comments'].__len__()):%}
                    <h3>{{posts_[i]['comments'][j]['first_name']}} {{posts_[i]['comments'][j]['last_name']}} - {{posts_[i]['comments'][j]['updated_at']}}</h3>
                    <p class="one_comment">{{posts_[i]['comments'][j]['comment']}}</p>
                    {% endfor %}
                    <h3 class="post_a_comment">Post a comment</h3>                    
                    <form action="/process_post_comment" method="post" class="process_post_comment">
                        <input type="hidden" name="message_id" value="{{posts_[i]['id']}}">
                        <textarea name="comment_text" class="comment_text"></textarea>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>